In [1]:
# Pandas and Numpy to process and read the tabular data
import pandas as pd
import numpy as np

# OS commands to extract files/ names in a directory
from os import listdir
from os.path import isfile, join, splitext

In [2]:
# Reading in the original dataset
df = pd.read_csv("Datasets/Dataset_Original.csv", index_col="ID")

# Inspecting the general structure of the dataset
df.head()

,Age,Gender,Education,Nscore,Escore,Oscore,Ascore,Cscore,Impulsive,Sensation_seeking,Caffeine,Cannabis,Meth,Semeron
ID,,,,,,,,,,,,,,
1,35-44,Female,Professional certificate/ diploma,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,-0.21712,-1.18084,CL6,CL0,CL0,CL0
2,25-34,Male,Doctorate degree,-0.67825,1.93886,1.43533,0.76096,-0.14277,-0.71126,-0.21575,CL6,CL4,CL3,CL0
3,35-44,Male,Professional certificate/ diploma,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,-1.37983,0.40148,CL6,CL3,CL0,CL0
4,18-24,Female,Masters degree,-0.14882,-0.80615,-0.01928,0.59042,0.58489,-1.37983,-1.18084,CL5,CL2,CL0,CL0
5,35-44,Female,Doctorate degree,0.73545,-1.63340,-0.45174,-0.30172,1.30612,-0.21712,-0.21575,CL6,CL3,CL0,CL0

In [3]:
# We created a seperate .csv file for the current value of a column and its desired value

# Yield filenames and extension from the specified directory
onlyfiles = [f for f in listdir('Datasets/old-new/') if isfile(join('Datasets/old-new/', f))]

# We will keep the original values for Impulsive and Sensation_seeking because these are usefully preprocessed for our testing and path coefficient estimation task (see EDA)

# First loop will iterate over all the different .csv files in the directory
for file in onlyfiles:
    new_old = pd.read_csv('Datasets/old-new/'+ file) # Read it in as a Pandas dataframe
    new_old_arr = new_old.to_numpy() # Transform the dataframe to a Numpy array
    filename_raw = splitext(file)[0] # The filename without the extension (without the .csv part)
    for old, new in new_old_arr: # Second loop will iterate through the individual arrays/ .csv files
        df[filename_raw] = df[filename_raw].replace([old],new) # Checks which column to update - replaces all the current values to its respective new value

In [4]:
# Confirm that the data has been processed
df.head()

,Age,Gender,Education,Nscore,Escore,Oscore,Ascore,Cscore,Impulsive,Sensation_seeking,Caffeine,Cannabis,Meth,Semeron
ID,,,,,,,,,,,,,,
1,35-44,0,Professional certificate/ diploma,39.0,36.0,42.0,37.0,42.0,-0.21712,-1.18084,6,0,0,0
2,25-34,1,Doctorate degree,29.0,52.0,55.0,48.0,41.0,-0.71126,-0.21575,6,4,3,0
3,35-44,1,Professional certificate/ diploma,31.0,45.0,40.0,32.0,34.0,-1.37983,0.40148,6,3,0,0
4,18-24,0,Masters degree,34.0,34.0,46.0,47.0,46.0,-1.37983,-1.18084,5,2,0,0
5,35-44,0,Doctorate degree,43.0,28.0,43.0,41.0,50.0,-0.21712,-0.21575,6,3,0,0

In [5]:
# Export the processed dataframe for the prediction task - dataset with numerical columns that are normally distributed
df.to_csv(r'Datasets/Dataset_Coeff_Estimation.csv',index=False)

# Using the same technique there is also a dataset created that uses all the original values (so there we will not keep the preprocessed Impulsive and Sensation_seeking variables)